Source: python-taiga
Section: python
Priority: optional
Maintainer: Robin Gustafsson <robin@rgson.se>
Build-Depends: debhelper (>= 9), dh-python,
 python3-all (>= 3.3), python3-setuptools,
 python3-dateutil, python3-requests, python3-six

Package: python-taiga
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Description: Taiga Python API
 A Python module for using the Taiga API.

Package: python3-taiga
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: Taiga Python API
 A Python module for using the Taiga API.
